body, html {
	background-color: #F8F9F9;
	height: 100%;
}

h3, h4 {
	font-family: 'Merriweather', serif;

}

.header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.product-img {
	width: 265px;
	height: auto;
	display: block;
	margin: 0 auto;
}


.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.modal h2 {
    margin-top: 0;
    font-size: 24px;
}

.card.mb-4 {
    position: sticky;
    top: 10px;
    z-index: 1000; 
}

.image-container {
    flex: 0 0 auto; /* Избегаем сжатия контейнера */
    max-width: 30%; /* Устанавливаем максимальную ширину контейнера с изображением */
}

.product-img-info {
    width: 100%; /* Картинка растягивается на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
}

.card.mb-3 {
    flex: 1; /* Контейнер с текстом занимает оставшееся пространство */
    padding: 15px;
    text-align: left;
}

.row {
    display: flex; /* Устанавливаем flex для строки */
    flex-wrap: wrap; /* Позволяем перенос содержимого на новую строку при необходимости */
    gap: 10px; /* Пространство между элементами */
}

h1{
font-size: 300%;
}

.main-text-info{
font-size: 150%;
}

p{
font-size: 100%;
}